cupy-cuda12x==13.6.0
fastrlock==0.8.3
implicit==0.7.2
joblib==1.5.2
numpy==2.3.5
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.3
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
